<form class="example-form" [formGroup]="productForm" (ngSubmit)="addProduct()">
    <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="name">
        <div *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched">
            <p style="color: red;"> Name is required</p>
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <div *ngIf="productForm.controls['description'].invalid && productForm.controls['description'].touched">
            <p style="color: red;"> Description is required && should not be less than 3 words</p>
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price">
        <div *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched">
            <p style="color: red;"> Price is required && not be in string</p>
        </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity">
        <div *ngIf="productForm.controls['quantity'].invalid && productForm.controls['quantity'].touched">
            <p style="color: red;"> quantity should in numeric </p>
        </div>
    </mat-form-field>
    <div class="btnDiv">
        <button mat-raised-button color="warm" type="submit" (click)="closeForm()">Close</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">{{actionBtn}}</button>
       
    </div>
</form>

